/* span#id1{
color: red;
}
.highlight{
    background-color: yellow;
    color: blue;
}
#id2{
    color: green;
} */
 span+ p{
    font-weight: bold;
 }
p+ p {
    font-style: italic;
    font-weight: bold;
}
div.items > a{ 
    color: green;
    font-family: bold;
    }

.red{
    color: red;
}
.underline{
    text-decoration: underline;
}
.bold{
    background-color: yellow;
}
p[title="test"]{
    color: orange;
}
p[title=] {
    color:green;
}
